.NavBar {
  height: 2em;
  top: 0;
  width: 100%;
}

.NavBar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.NavBar li {
  
  padding: 10px;
}

.NavBar li a {
  color: white;
  text-decoration: none;
}

.container {
  margin-top: 6em;
}

.Logo {
  font-size: 3em;
  margin-left: 13vw;
  font-family: "righteous";
}

.colors {
  display: flex;
  flex-direction: row-reverse;
  font-family: "Neuton", sans-serif;
  font-size: 17px;
  margin-right: 400px;
  margin-top: 75px;
  color: white;
  font-weight: bold;

}

.darkred {
  width: 75px;
  height: 25px;
  background: #CC0000;
}

.red {
  width: 75px;
  height: 25px;
  background: #f68838;
}

.orange {
  width: 75px;
  height: 25px;
  background: #fbb021;
}

.colors span {
  font-family: "Neuton", sans-serif;
  font-size: 17px;
  
}

/* MAP */
path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}


/* states list */

.states ul{
  list-style-type: none;
}

.states ul{
  columns: 7;
  width: 50%;
  margin: 0 auto;
  
}

.states {
  width: 100%;
  height: 300px;
  background: #000000;  
  opacity: .65;
  margin-top: 9vh;

  padding-bottom: 15%;
}

.states a {
  text-decoration: none;
  color: white;
  font-family: "Neuton", sans-serif;
}

.states h1 {
  color: #E6780A;
}

.states a:hover {
  font-weight: 900;
  color: #E6780A;
}

/* whole app container */
.App {
  text-align: center;
  
}
 html ,body {
  height: 100%;
  background: rgb(12,64,96);
  background: linear-gradient(232deg, rgba(12,64,96,1) 14%, rgba(24,94,124,1) 34%, rgba(95,182,101,1) 62%, rgba(201,204,68,1) 97%);  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

html {
  background: #000000;
}

.StatePage {
  height: 100vh;
}

.SupportBtn:hover {
  cursor: pointer;
}

/* form */

#form {
  background: rgba(0, 0, 0, 0.454);
  width: 950px;
  height: 350px;
  margin: 0 auto;
  border-radius: 23px;
  -webkit-box-shadow: -10px 8px 12px 0px rgba(50, 50, 50, 0.89);
  -moz-box-shadow: -10px 8px 12px 0px rgba(50, 50, 50, 0.89);
  box-shadow: -10px 8px 12px 0px rgba(50, 50, 50, 0.89);

}

label {
  font-family: "Neuton", sans-serif;
  font-size: 22px;
  color: white;
}

#name {
  width: 200px;
  height: 22px;
  font-family: "Neuton", sans-serif;
  font-size: 20px;
  margin-right: 52px;
  border-radius: 5px;
  margin-top: 20px;
}

#email {
  width: 230px;
  height: 22px;
  font-family: "Neuton", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  margin-right: 308px;
}

#city {
  width: 200px;
  height: 22px;
  font-family: "Neuton", sans-serif;
  font-size: 20px;
  margin-right: 110px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#state {
  width: 90px;
  height: 22px;
  font-family: "Neuton", sans-serif;
  font-size: 16px;
  background: #E6780A;
  margin-right: 20px;
  padding-bottom: auto;
}

#state:hover {
  background: rgb(167, 164, 164);
  cursor: pointer;
}

#severity {
  width: 110px;
  height: 22px;
  font-family: "Neuton", sans-serif;
  font-size: 16px;
  background: #E6780A;
  margin-right: 310px;
}

#severity:hover {
  background: rgb(167, 164, 164);
  cursor: pointer;
}

#state option {
  width: 80px;
  font-family: "Neuton", sans-serif;
  font-size: 18px;
  background: #E6780A;
}

#request {
  height: 180px;
  width: 800px;
  font-size: 20px;
  font-family: "Neuton", sans-serif;
  border-radius: 5px;
}

#button {
  text-align: left !important;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #E6780A;
  padding: 7px 16px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #E6780A;
  }

#button:hover {
  background: rgb(167, 164, 164);
  cursor: pointer;
}


/* info */

.info {
  display: flex;
  justify-content: center;
  font-family: "Neuton", sans-serif;
  font-size: 20px;
}

.info p {
  margin-right: 50px;
}

.info strong {
  font-size: 25px;
  color: rgb(223, 62, 26);
}

.info strong:hover {
  color: white;
}

/* request */

.main-request {
  display: inline-block;
  padding-left: 0;
}

.request {
  width: 900px;
  height: auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(48, 50, 50, 0.65);
  -moz-box-shadow: 0px 0px 14px 0px rgba(48, 50, 50, 0.65);
  box-shadow: 0px 0px 14px 0px rgba(48, 50, 50, 0.65);
  position: relative;
  margin-bottom: 25px;
}

.main-request ul {
  padding-left: 0;
}

.request button {
  margin-bottom: 20px;
}

.x {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 3px;
  font-size: 25px;
  font-family: "Neuton", sans-serif;
  line-height: 14px;
  color: #E6780A;
  
  
}

.x:hover {
  cursor: pointer;
  font-size: 30px;
  color: black;
}

.title {
  font-family: "Neuton", sans-serif;
  font-size: 19px;
  background: rgb(227, 222, 222);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 47px;
  
}

.title p, .e {
  line-height: 14px;
  margin-bottom: 7px;
  margin-top: 0;
}

.n {
  margin-right: 20px;
  padding-left: 20px;
}

.e {
  margin-right: 20px;
  padding-left: 20px;
  color: black;
}

.l {
  margin-right: 20px;
  padding-left: 20px;
}

.s {
  margin-right: 20px;
  padding-left: 20px;
  color: red;
}

a {
  text-decoration: none;
}

.sup-img {
  margin-left: 15px;
}

.like {
  margin-bottom:px;
}

.word {
  width: 867px;
  height: auto;
  font-size: 20px;
  font-family: "Neuton", sans-serif;

  margin-left: 20px;
  text-align: left;
  overflow: hidden;
}

.states ul {
  padding-left: 0;
}

.DC2 {
  fill:#FBB021;
}

@media only screen and (max-width: 800px) {
  .us-state-map {
    width:750px
  }
  .states ul {
    padding-left: 0;
  }
  #form {
    width: 750px;
    height: 400px;
  }

  .request {
    width: 750px;
  }

  #request {
    width: 700px;
  }

  #email {
    margin-right: 50px;
    margin-top: 5px;
    width: 200px
  }

  #city {
    margin-right: 35px;
    margin-top: 5px;
  }

  #severity {
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .info {
    flex-wrap: wrap;
    width: 750px;
  }

  .word {
    width: 730px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 415px) {
  #form {
    margin-top: 4em;
    width: 350px;
    height: 415px;
  }

  #email {
    margin-right: 50px;
    margin-top: 5px;
    width: 200px
  }

  #city {
    margin-right: 35px;
    margin-top: 5px;
  }

  #severity {
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  #request {
    width: 300px;
  }

  .request {
    width: 350px;
  }

  .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 75px;
  }

  .info {
    flex-wrap: wrap;
    width: 425px;
  }
  
  .us-state-map {
    width:350px;
    height: 350px
  }
  .container {
    margin-top: 0;
  }
  .colors {
    margin-top: 50px;
    margin-right: 25px;
  }
  .states ul {
    padding-left: 0;
  }

  .word {
    width: 325px;
    display: flex;
    flex-wrap: wrap;
  }
}



